@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply transition-colors duration-300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Aeonik Regular, sans-serif;
}

  
  @font-face {
    font-family: Aeonik Regular;
    src: url(./assets/fonts/Aeonik\ Regular.woff) format("woff"),
    url(./assets/fonts/Aeonik\ Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }